body{
    margin: 3% 5%;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    align-self: center;
 /*text style*/
 }
 .text-style-1{
    color: #131318;
    font-size: 0.62em;
}
 .text-style-2{
    color: #131318;
    font-size: 0.56em;
}
 .text-style-3{
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.25em;
}
/*head section*/
head{
    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.menue-order{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menue-order > li > a{
    text-decoration: none;
    color:var(--Dark-02, #424247);
    font-weight: 400px;
    text-align: center;
}
.menue-order > li{
    padding-left: 44px;
}
.logo-title{
    font-size: 0.30em;
    padding-left: 16.6px;
}
.menue-order{
    font-size: 0.18em;
}
span{
    color:  #FF5400;
}
.drop{
    display: none;
}
/* section-travel */
.travel{
    max-height: 500px;
    padding: 0%;
}
.travel-banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;

}
.travel-head{
    font-size: 0.5em;
    color: white;
}
.travel-des{
    color: white;
    font-size: 14px;
    text-align: center;
}
.travel-nav{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    width: auto; 
    padding: 6px;
    margin-bottom: 106px;   
}.travel-nav > div {
    align-self: center;
    padding: 12px 0px;
    margin: 0px;
    font-size: 16px;
}
.btwn-b{
    color: rgba(19, 19, 24, 0.50);
    font-size: 8.96px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    text-align: start;
    border-radius: 3px;
    border: none;

}
.btwn-s{
    background: #FF5400;
    color: #fff;
    font-size: 8.96px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 3px;
    border: none;
    
}



@media screen and (max-width:600px){
    .menue{
        display: none;
    }
    body{
        font-size: 45px;
    }
    .drop{
        display: contents;
    }
    .travel-nav{
        flex-direction: column;
        width: 287px;
    }
    .btwn-s{
        width: 200px;

    }
    .btwn-b{
        width: 200px;
        padding-left: 16px;

    }
    
}