body{
    margin: 3% 5%;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    align-self: center;
 /*text style*/
 }
 .text-style-1{
    color: #131318;
    font-size: 0.4em;
}
 .text-style-2{
    color: #131318;
    font-size: 0.3em;
}
 .text-style-3{
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.18em;
}
.text-styles-4{
    color: #131318;
    font-size: 0.38em;
}
/*head section*/
head{
    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.menue-order{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menue-order > li > a{
    text-decoration: none;
    color:var(--Dark-02, #424247);
    font-weight: 400px;
    text-align: center;
}
.menue-order > li{
    padding-left: 44px;
}
.logo-title{
    font-size: 0.30em;
    padding-left: 16.6px;
}
.menue-order{
    font-size: 0.18em;
}
span{
    color:  #FF5400;
}
.drop{
    display: none;
}
/* section-travel */
.travel{
    max-height: 500px;
    padding: 0%;
}
.travel-banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;

}
.travel-head{
    font-size: 0.5em;
    color: white;
}
.travel-des{
    color: white;
    font-size: 14px;
    text-align: center;
}
.travel-nav{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    width: auto; 
    padding: 6px;
    margin-bottom: 106px;   
}.travel-nav > div {
    align-self: center;
    padding: 12px 0px;
    margin: 0px;
    font-size: 16px;
}
.btwn-b{
    color: rgba(19, 19, 24, 0.50);
    font-size: 8.96px;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    text-align: start;
    border-radius: 3px;
    border: none;

}
.btwn-s{
    background: #FF5400;
    color: #fff;
    font-size: 8.96px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 3px;
    border: none;
    
}
#se{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* tour section */
.tour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.tour-pic{
    height: 100%;
    width: 45%;
}
.tour-pic> img{
    width: 100%;
    height: 100%;
}
.tour-text{
    width: 45%;
}
/* destination section */
.destination-text{
    text-align: center;
}
.destination-text > .text-style-3{
    padding-bottom: 48px;
}
.destination-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.des-row-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}
.des-row-2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}
.des-row-3{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}
.aww{
    max-width: 100%;

}
.aww-text{
    color: white;
    font-size: 0.4em;
    position: absolute;
    align-self: ;
}
/* why choose us section */
.choose-main-1 {
    text-align: center;
}
.choose-main-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0%;
    gap: 24px;
} 
.choose-b-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    margin: 0px;
    width: 100%;
}
.choose-b-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    margin: 0px;
    width: 100%;
}
.choose-main-3{
    width: 50%;
    margin: 0%;
    gap: 24px;
    align-self: center;
}
.choose-c-1{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    margin: 0px;
    width: 100%;
}
.choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
    width: 100%;

}




@media screen and (max-width:600px){
    .menue{
        display: none;
    }
    body{
        font-size: 45px;
    }
    .drop{
        display: contents;
    }
    .travel-nav{
        flex-direction: column;
        width: 287px;
        gap: 0px;
    }
    .btwn-s{
        width: 200px;

    }
    .btwn-b{
        width: 200px;
        padding-left: 16px;

    }
    .tour{
        flex-wrap: wrap;
        gap: 20px;

    }
    .tour-pic{
        width: 100%;
    }
    .tour-text{
        width: 100%;
    }
    .destination-pic{
        width: 100%;
    }
    .des-row-1{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .des-row-2{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
    .des-row-3{
        flex-wrap: wrap;
        flex-shrink: 0;
        justify-content: center;
        width: 100%;
    
    }
    .des-2-col-1{
        
        
    }
    .aww{
        max-width: 100%;
        
    }
    .choose-us{
        flex-wrap: wrap;
        
    }
    .choose-main-2{
        flex-wrap: wrap;
        width: 100%;
    }
    .choose-main-3{
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
    }
    
   




}